@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');

.header-container h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 42px;
}

.header-container p {
  font-size: 28px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}